{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Resultado</title>

	<link type="text/css" rel="stylesheet" href="{% static 'css/result.css' %}">
</head>
<body>

	<h1>Texto inserido</h1>
	<p class="justify">{{texto}}</p>

	<br>

	<p><span class="bolder">Quantidade de palavra:</span> {{quantPalavras}}</p>

	<br>

	<p class="bolder">Lista de palavras únicas ordenadas pela quantidade</p>
	<div class="container1">
		{% for ordem in ordenar %}
			<div class="content4">
				<p><span class="bolder">{{ordem.1}}</span> = {{ordem.0}}</p>
			</div>
		{% endfor %}
	</div>

</body>
</html>